<footer>
    <div id="contendorfooter" class="container">
        <div id="rowfooter" class="row">
            <div class="col-12 col-md-3">
                <div class="titulofooter">Quienes Somos</div>
                <div id="quienesosmosfooter">Somos tu empresa de servicios públicos.</div>
                <div id="leermas"><a id="aleermas" routerLink="/quienes-somos">Leer más</a></div>
              </div>
            <div class="col-12 col-md-3">
                <div class="titulofooter">Horarios</div>
                <div class="horario">Lunes de 8:00am a 5:00pm</div>
                <div class="horario">Martes de 8:00am a 5:00pm</div>
                <div class="horario">Miercoles de 8:00am a 5:00pm</div>
                <div class="horario">Jueves de 8:00am a 5:00pm</div>
                <div class="horario">Viernes de 8:00am a 5:00pm</div>
                <div class="horario">Sabado de 8:00am a 12:00pm</div>
            </div>
            <div class="col-12 col-md-3">
                <div class="titulofooter">Enlaces</div>
                <div class="enlaces"><a class="aenlaces" href="http://www.facebook.com" target="_blank">Facebook</a></div>
                <div class="enlaces"><a class="aenlaces" href="http://www.Linkedin.com" target="_blank">Linkedin</a></div>
                <div class="enlaces"><a class="aenlaces" href="http://www.Instagram.com" target="_blank">Instagram</a></div>
                <div class="enlaces"><a class="aenlaces" href="http://www.Twitter.com" target="_blank">Twitter</a></div>
                <div class="enlaces"><a class="aenlaces" href="https://wa.me/+573153499010?text=me interesa este producto" target="_blank">Whatsapp</a></div>
            </div>
            <div class="col-12 col-md-3">
                <div class="titulofooter">Suscríbete</div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Ingresa tu Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <button  type="submit">Suscríbete</button>
            </div>
        </div>
    </div>
    
  </footer>
  
