<app-header></app-header>
<!-- ********************************************CARRUSEL GRANDE****************************************************************************************************** -->

<div id="carouselExampleIndicators" class="carousel slide d-none d-md-block" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" [attr.data-slide-to]="i" class="" *ngFor="let item of datosc; let i = index" [ngClass]="i==0? 'active':''"></li>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let item of datosc; let i = index" [ngClass]="i==0? 'active':''">
        <img src="{{item.imagen}}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{item.titulo}}</h5>
          <p>{{item.descripcion}}</p>
        </div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"> </span>
        <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"> </span>
      <span class="sr-only">Next</span>
    </button>
</div>



<div id="contenedortext" class="container">
    <h1>¡TU EMPRESA DE SERVICIOS PÚBLICOS!</h1>
    <div id="textseguridad"> Al igual que tú, también deseamos servicios públicos
      más eficientes.Y por eso los creamos.
      Con un compromiso firme con el futuro, en Aliat trabajamos para que la Ciudad Soñada sea un
      modelo de eficiencia, innovación y cuidado del
      entorno. Sabemos que el sector de serviciospúblicos tiene un impacto directo en el ecosistema,
      y por eso, hemos asumido el reto de operar bajo principios de economía circular.
    </div>
</div>

<div id="contenedorbody" class="container">
<h2>Nuestros Servicios</h2>
    <div class="row">

        <div class="item col-sm-12 col-md-12 col-lg-12" *ngFor = "let item of datos">
          <div class="card">
            <img src="{{item.imagen}}" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
              <!-- <h5 class="card-title">{{item.nombre}}</h5> 
              <p class="card-text">{{item.descripcion}}</p>  -->
              <!-- <button type="button" class="btncotizar">Ver detalles</button> -->
            </div>
          </div>
        </div>

       </div>
    </div>
<app-footer></app-footer>