<app-headerclientelog></app-headerclientelog>

<div id="containermision" class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="mision">Misión</div>
            <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, repudiandae ullam. Ab, sint quae, adipisci aliquam, nesciunt est placeat assumenda quas eveniet deserunt dolorem tempora. Deserunt itaque veritatis architecto consequatur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ipsam corporis culpa praesentium, esse eligendi, magnam eveniet laborum ad ut quibusdam rem! Quas vero ut, est sed quibusdam soluta architecto.</div>
        </div>
       
        <div class="col-12 col-md-6">
            <div class="titulofooter"><img src="./assets/seguridad_empresas.jpg" alt=""></div>
        </div>
  
        <div class="col-12 col-md-6">
          <div class="titulofooter"><img src="./assets/seguridad-electronica2.jpg" alt=""></div>
      </div>
  
      <div class="col-12 col-md-6">
        <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, repudiandae ullam. Ab, sint quae, adipisci aliquam, nesciunt est placeat assumenda quas eveniet deserunt dolorem tempora. Deserunt itaque veritatis architecto consequatur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ipsam corporis culpa praesentium, esse eligendi, magnam eveniet laborum ad ut quibusdam rem! Quas vero ut, est sed quibusdam soluta architecto.</div>
        </div>
    </div>
    </div>
<app-footer></app-footer>
