.userlog {
    border: solid 1px;
    border-radius: 50%;
    height: 145px;
    width: 145px;
    color: blanchedalmond;
}

img {
    vertical-align: middle;
    border-style: none;
    width: 90px;
    margin-left: calc(50% - 45px);
    margin-top: 8px;
}

.clasenombre {
    text-align: center;
    color: white;
}

.claserol {
    text-align: center;
    color: white;
    font-style: italic;
    font-size: 10px;
}

.menulateral {
    width: 150px;
    background: #095119;
    height: calc(100vh - 50px);
}

.item {
    color: white;
    margin-left: 10px;
    margin-top: 15px;
    cursor: pointer;
    font-style: italic;
    font-size: 17px;
}

.item:hover{
    margin-left: 18px;
    transition: 0.2s ease-in-out;
}